@tailwind components;
@tailwind utilities;
@import "table";
@import "paginator";
@import "filter";

* {
    @apply font-sans
}

body {
    margin: 0;
}

.el-input-number--large {
    width: 135px;
}

.form-item {
    flex-direction: column;

    label {
        justify-content: start;
    }

    @media (min-width: 768px) {
        flex-direction: row;

        label {
            justify-content: flex-end;
        }
    }

}